---
import { type ButtonProps } from "../props/ButtonProps"
const { chapter, slug, direction } = Astro.props as ButtonProps

const targetChapterNum = direction === "prev" ? chapter - 1 : chapter + 1

const base = "/post-fanfics/fanfics"

const url = `${base}/${slug.split("/")[0]}/${targetChapterNum}`
---

<div>
  <a
    href={url}
    class={`inline-block px-4 sm:px-6 py-2 rounded-full shadow font-semibold transition text-white text-center text-sm sm:text-base
    ${direction === "next" ? "bg-gray-600 hover:bg-gray-500" : "bg-gray-700 hover:bg-gray-600"}`}
  >
    {direction === "prev" ? "← Anterior" : "Próximo →"}
  </a>
</div>
