---
import { getSortedFicEntries } from "../utils/getSortedFicEntries"
---

<header class="bg-gray-800 shadow-md w-full">
  <div
    class="w-3/4 mx-auto flex flex-col items-center justify-center px-4 py-3 md:flex-row md:justify-between"
  >
    <a
      href="/post-fanfics/"
      class="text-2xl font-bold text-white hover:text-gray-400 cursor-pointer mb-2 md:mb-0"
    >
      📚 Fanfics
    </a>
    <nav class="relative w-full text-center md:w-auto">
      <div class="group inline-block relative w-full md:w-auto" tabindex={0}>
        <button
          class="text-lg font-bold text-white rounded px-4 py-2 focus:outline-none cursor-pointer w-full md:w-auto flex items-center justify-center mx-auto"
        >
          Minhas Histórias
          <span class="ml-1 md:hidden flex items-center justify-center">
            <svg
              width="18"
              height="18"
              viewBox="0 0 20 20"
              fill="none"
              aria-hidden="true"
            >
              <path
                d="M6 8l4 4 4-4"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </span>
        </button>
        <div
          class="absolute left-0 right-0 md:right-auto pt-2 w-full md:w-56 bg-gray-900 rounded shadow-lg opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 transition-opacity duration-200 z-10 pointer-events-none group-hover:pointer-events-auto group-focus-within:pointer-events-auto"
        >
          <ul>
            {
              getSortedFicEntries().map(([slug, name]) => {
                return (
                  <li>
                    <a
                      href={`/post-fanfics/fanfics/${slug}`}
                      class="block px-4 py-2 text-gray-300 hover:text-white hover:bg-gray-700 rounded"
                    >
                      {name}
                    </a>
                  </li>
                )
              })
            }
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
